
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation{
    height: 130px;
    background-color: #F3F2F2;;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
}

.brand img{
    width: 120px;
    height:120px;
    margin-top: 5px;
}

nav {
    float: right;
}

nav ul{
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}

nav li {
    float:left;
    position: relative;
}

nav li a{
    font-family: "Asar";
    font-size: 1rem;
    font-weight: 500;
    display: block;
    padding: 0 20px;
    line-height: 120px;
    color: #17286D;
    text-decoration: none;
}

nav a:hover{
    color: #1591a2;;
}

/*add style to 'a' tag which has child element*/
nav a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}


/*dropdown*/
nav ul li ul li{
    min-width: 240px;
    z-index: 99;
    /* padding: 0; */
}

nav ul li ul li a{
    padding-left: 7px;
    padding-right: 2px;
    line-height: 44px;
}

.sub-nav{
    position: absolute;
    z-index: 999;
    background-color: white;
    box-shadow: 12px 8px 15px -3px rgba(0,0,0,0.1); 
    display: none;
}

.sub-nav a:hover{
    background-color: #FFDE00;
    color: #17286D;
}

.hamburger {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: #17286D;
    height: 63px;    
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.change span {
    background-color: transparent;
}

#nav-toggle.change span:before, #nav-toggle.change span:after {
    top: 0;
}

#nav-toggle.change span:before {
    transform: rotate(45deg);
}

#nav-toggle.change span:after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 799px){
    nav ul{
        display: none;
    }

    .brand img{
        left: 50%;
    }
    
    .hamburger{
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
        margin: 60px 0 0 15px;
        background-color: #F3F2F2;
    }

    nav ul {
        display: none;
   }
   
    nav ul li {
        float: none;
   }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
   }

    nav ul li ul li a {
        padding-left: 30px;
   }

   .main-img{
       z-index: -1;
   }

   .sub-nav{
        position: static; /*To avoid that dropdown overflow on other list items*/
   }
}


/*to fix disappearing navbar*/
@media only screen and (min-width: 799px){
    nav{
        display: block !important;
   }
}

/*----------------------------------------------*/
/* HOME PAGE */

/*Main background image*/

.main-img{
    position: relative;
}

.main-img img{
    width:100%;
    height: 96vh;
    background-size: 100% 100%;
    filter: brightness(.5);
}

.content {
    position: absolute;
    top:30%;
    left: 19%;
    color: #fff;
}

.content h1{
    font-family: 'Comfortaa';
    font-size: 2.4rem;
    line-height: 1.3;
}

.content p{
    font-family: 'Asar';
    font-size: 0.9rem;
}

.button1{
    background-color:#2BABBD;
    color: #fff;
    border: 2px solid #2BABBD;
    font-family: 'Asar';
    font-size: 0.9rem;
    cursor: pointer;
    width: 130px;
    padding: 4px;
    border-radius: 5px;
    display: inline-block;
    transition-duration: 0.4s;
}

.button1:hover{
    background-color:transparent;
    color:#56d8e9;
    border: 2px solid #56d8e9;
}

.button2{
    background-color:transparent;
    color: #FFDE00;
    border:2px solid #FFDE00;
    font-family: 'Asar';
    font-size: 0.9rem;
    cursor: pointer;
    width: 130px;
    padding: 4px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 2%;
    transition-duration: 0.4s;
}

.button2:hover{
    background-color:#FFDE00;
    color:#17286D;
    border: 2px solid #FFDE00;
}


@media screen and (max-width:799px) {
    .main-img img{
        width:100%;
        height: 85vh;
        background-size: 100% 100%;
        filter: brightness(.5);
    }
    
    .content {
        top:35%;
        left: 21%;
        color: #fff;
    }
       
    .content p{
        font-size: 0.96rem;
    }
    
    .button1{
        font-size: 0.96rem;
        z-index: -999;
    }
    
    .button2{
        font-size: 0.96em;
        z-index: -999;
    }
}
/* STATISTICS DIV*/

.statistics{
    padding-top: 70px;
}

.statistics h1{
    font-family: 'Comfortaa';
    font-size: 2.1rem;
    color:#17286D;
    text-align: center;
    letter-spacing: 1.8px;
}

.underline {
    background-image: linear-gradient(180deg, transparent 65%, #FFDE00 0);
    padding: 0 0.5em 0 0.1em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

#text-stat {
    padding-top: 40px;
}

.statistics p{
    font-family: 'Asar';
    font-size: 0.9rem;
    text-align: center;
    padding-top: 15px;
}

.stats{
    padding-top: 100px; 
    width: 70%;
    display: flex;
    gap: 10px;
    margin: auto;
    justify-content: space-around;
}

.stat1,.stat2, .stat3, .stat4{
    display: block;
    text-align: center;
}

.stat1 p {
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 600;
}

.stat2 p {
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 600;
}

.stat3 p {
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 600;
}

.stat4 p {
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 600;
}

.stats h2{
    font-family: 'Comfortaa';
    font-size: 1.063rem;
    font-weight: normal;
}

.btn-stat{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 15px;
}

.button3{
    background-color: #FFDE00;
    border : 2px solid #FFDE00;
    font-family: 'Comfortaa';
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    padding: 9px;
    width: 190px;
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.4s;
}

.button3:hover{
    background-color: #17286D;
    border: 2px solid #17286D;
    color: #FFDE00;
}

/* LATEST NEWS DIV*/

.latest-event{
    position: relative;
    height:80vh;
    background: rgb(23,40,109);
    background: linear-gradient(0deg, rgba(23,40,109,1) 0%, rgba(33,191,213,1) 100%);
    background-size: 100% 100%;
}

.latest-event h1{
    padding-top: 20px;
    text-align: center;
    font-family: 'Comfortaa';
    color: #fff;
    font-size: 1.8rem;
}

.cards{
    padding-top:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

/*For mobile screen*/
@media screen and (max-width: 799px) {
    
    .latest-event{
        height: 1224px;
    }
    
    .cards{
        flex-direction: column;
        gap: 30px;
    }

    .card{
        max-width: 70%;
    }
}

/*For large screen*/
@media screen and (min-width:799px){

    .cards{
        align-items: center;
        justify-content: space-evenly;
       
    }

    .card{
        max-width: 23%;    
    }   
}

.card{
    min-height: 270px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 14px 22px 18px -7px #101c4d; 
}

.card-header h2{
    font-family: 'Comfortaa';
    font-weight: 600;
    font-size: 1.25rem;
    color: #17286D;
    padding: 30px 30px 15px 20px;
}

.com-label{

    margin-left: 20px;
    background-color: #fb6060;
    width: 95px;
    text-align: center;
}

.event-label{

    margin-left: 20px;
    background-color: #FFDE00;
    width: 50px;
    text-align: center;
}

.news-label{

    margin-left: 20px;
    background-color: #21BFD5;
    width: 50px;
    text-align: center;
}
.label{
    font-family: 'Comfortaa';
    font-size: 0.75rem;
    padding: 6px;
}

.card-content{
    margin-left: 20px;
    padding-top: 20px;
    width: 80%;
}

.card-content p{
    font-family: 'Asar';
    font-size: 0.9rem;
}

footer{
    padding-top: 20px;
    padding-bottom: 30px;
}

.card-btn{
    display: inline-flex;
    background-color: #fff;
    border: 2px solid #17286D;
    font-family: 'Comfortaa';
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 20px;
    padding: 3px;
    width: 9rem;
    text-align: center;
    transition-duration: 0.4s;
}

.icon {
    position: relative;
    width: 35px;
    padding-top: 0.2%;
}

.card-btn:hover{
    width: 135px;
}

.old-events{
    padding-top: 45px;
    text-align: right;
}

.old-events a{
    font-style:'Asar';
    font-size: 0.9rem;
    color: #fff;
    cursor: pointer;
    text-underline-position: under;
    padding-right: 10%;
    letter-spacing: 1px;
}


/* NEWSLETTER DIV */

.newsletter{  
    overflow: hidden;
    position: absolute;
    top: 510px;
    height: 150px;
    width: 56%;
    left:  22.3%;
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,222,0,0.8) 0%), url('images/newsletter-bg1.jpg');  
    box-shadow: 6px 3px 15px -3px #17286D;
    background-size: 100% 100%;
}

@media screen and (max-width:799px) {
    .newsletter{
        overflow: visible;
        position: relative;
        width: 100%;
        left: 0;
        top: 70px;
        height: 25vh;
    }
}

.newsletter h1{
    padding-top: 30px;
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    color: #17286D;
    letter-spacing: 10px;
}

.news-content p{
    font-family: 'Asar';
    font-size: 1rem;
    font-weight: 600;
    width: 45%;
    margin-left: 3%;
}

.news-content{
    padding-top: 20px;
    margin-left: 7%;
    width: 80%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center; 
}

.news-content input[type=email]{
    display: block;
    border: 2px solid #17286D;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
}

.btn-newsletter{
    width: 120px;
    padding: 6px;
    font-family: 'Asar';
    font-size: 0.9rem;
    cursor: pointer;
    color: #FFDE00;
    background: #17286D;
    transition-duration: 0.4s;
    letter-spacing: 1px;
}


.btn-newsletter:hover{
    color: #17286D;
    background: #21BFD5;
    border: 2px solid #21BFD5;
}

/*--------------------------------------------------*/

/* FOOTER */
 
.footer{
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.footer img{
    width: 120px;
    height: 120px;
    margin-left: 12%;
    margin-top: 2%;
}

.footer-text  {
    padding-top: 25px;
    max-width: 210px;
}

.footer-text p{
    font-family: 'Asar';
    font-size: 0.9rem;
    color: #17286D;
    line-height: 30px;
    font-weight: 500;
}

.contact-footer{
    margin-left: 1%;
    padding-top: 12px;
    width: 18%;
}

.contact-footer h3{
    padding-top: 15px;
    padding-bottom: 6px;
    font-family: 'Comfortaa';
    color: #17286D;
}

.contact-footer p{
    padding-top: 10px;
    color: #17286D;
    font-family: 'Asar';
    font-size: 0.8rem;
}

@media screen and (max-width:799px){
    .footer{
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer img{
        width: 110px;
        height: 110px;
        margin-left: 9%;
        margin-top: 35%;
    }
    
    .footer-text  {
        margin-top: 30%;
        margin-left: 5%;
    }
 
    .contact-footer{
        padding-top: 12px;
        width: 30%;
    }
    
    .contact-footer h3{
        padding-top: 0;
        padding-bottom: 6px;
    }
    
    .about-footer{
        margin-top:-50px;
}
    
    .about-footer h3{
        padding-top: 35px;
        padding-bottom: 10px;
        font-family: 'Comfortaa';
        color: #17286D;
    }
    
    .about-footer a{
        text-decoration: none;
        color: #17286D;
        font-family: 'Asar';
        font-size: 0.9rem; 
        transition-duration: 0.4s;
    }
    
    .about-footer a:hover{
        color: #21BFD5;
    }
    
    .social-footer{
        margin-top: -56px;
        width: 8%;
    
    }
    
    .social-footer h3{
        padding-top: 15px;
        padding-bottom: 10px;
        font-family: 'Comfortaa';
        color: #17286D;
    }
    
    .icons{
        padding-top:10px;
        display: flex;
        gap: 1rem;
        flex-direction: row;
    }
    
    .icons a{
        text-decoration: none;
        color: #17286D;
        transition-duration: 0.4s;
    }
    

}

.about-footer{
    display: flex;
    margin-top:20px ;
    flex-direction: column;
    width: 10%;
}

.about-footer h3{
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: 'Comfortaa';
    color: #17286D;
}

.about-footer a{
    text-decoration: none;
    color: #17286D;
    font-family: 'Asar';
    font-size: 0.9rem; 
    transition-duration: 0.4s;
}

.about-footer a:hover{
    color: #21BFD5;
}

.social-footer{
    margin-top: -56px;
    width: 8%;

}

.social-footer h3{
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Comfortaa';
    color: #17286D;
}

.icons{
    padding-top:10px;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.icons a{
    text-decoration: none;
    color: #17286D;
    transition-duration: 0.4s;
}

.icons a:hover{
    color: #21BFD5;
}

.copyright-msg{
    background-color: #17286D;
    color: #FFDE00;
    text-align: center;
    width: 100%;
    padding-top: 18px;
    height: 50px;
    font-size:0.8rem;
    letter-spacing: 0.5px;
}

/*Programmes Page*/

.banner-programmes{
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(23, 40, 109, 0.35) 0%), url('images/programmes-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.banner-programmes h1{
    font-family: 'Comfortaa';
    font-size: 2.4rem;
    color:#fff;
    text-align: center;
    padding-top: 160px;
}

.breadcrumbs {
    background-color:rgba(23, 40, 109, 0.63);
    position: absolute;
    margin-left: 1%;
    bottom: 0;
    padding: 10px;
    width: 155px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
}

.breadcrumbs a{
    font-family: 'Asar';
    color: white;
    text-decoration: none;
}

.prog-nav {
    margin-top: 20px;
    width: 78%;
    margin: auto;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(89.9deg, rgb(255,243,110,1), rgb(30,204,214,1), rgb(5,54,154,1)) 1;
}


/*For small screen*/
@media screen and (max-width:799px) {
    .banner-programmes{
        z-index: -1;
    }
    .prog-nav{
        width: 100%;
    }
    .prog-nav ul{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        gap:15px;
    }

    .prog-nav li {
        font-size: 1.1rem;
        list-style: none;
        font-family: 'Comfortaa';
        font-weight: 600;
        transition: 0.4s;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #undergrad{
        margin-left: 0;
        width: 610px;
    }
    #postgrad{
        width: 590px;
    }
    
    #phd{
        width: 260px;
    }
    
    #diploma{
        margin-right: 0;
        width: 1000px;
    }

    .container{
        padding: 0;
        margin: 0;
    }
    
    .container{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    .prog-cards{
        height: 1200px;
    }
    
}


/*For large screen*/
@media screen and (min-width:799px) {
    .prog-nav ul{
        display: flex;
        padding-left: 5%;
    }

    #undergrad{
        margin-left: 6%;
        width:70%;
    }  
    #postgrad{
        width: 66%;
    }
    
    #phd{
        width: 50%;
    }
    
    #diploma{
        margin-right: 6%;
        width: 100%;
    }  
    .container{
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 8%;
    }
    .prog-cards{
        display: flex;
        width: 80%; 
        height: 520px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .prog-nav li{

        padding-top: 25px;
        padding-bottom: 20px;
        list-style: none;
        font-family: 'Comfortaa';
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 600;
        transition-duration: 0.4s;
    }
    
    .footer1{
        height: 240px;
    }
}


#undergrad:hover{
    color: #0A30CA;
}

#postgrad:hover{
    color: #0A30CA;
}

#phd:hover{
    color: #0A30CA;
}

#diploma:hover{    
   color:  #0A30CA;
}

.prog-cards > .prog-card{
    margin: 23px;
}

/*Programme card styles*/ 
.prog-card{
    /* border: 2px solid blue; */
    height: 250px;
    flex-basis: 35%;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  18px 18px 36px #d1d1d1,
                 -18px -18px 36px #ffffff;
}

.prog-card-header h1{
    font-size: 1.9rem;
    font-family: 'Comfortaa';
    color: #17286D;
    padding: 20px;
}

.prog-card-content{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    padding-left: 5%;
}

.prog-card-content a{
    text-decoration: none;
    font-family: "Comfortaa";
    font-size: 0.9rem;
    color: #17286D;
    line-height: 1.8;
}

.prog-card-content a:hover{
    color: #0A30CA;
}


.fade-in-top {
	-webkit-animation: fade-in-top 3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
/*Events page*/
.banner-events{
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(23, 40, 109, 0.35) 0%), url('images/events-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
} 

.banner-events h1{
    font-family: 'Comfortaa';
    font-size: 2.4rem;
    color:#fff;
    text-align: center;
    padding-top: 160px;
}

.breadcrumbs-event{
    background-color:rgba(23, 40, 109, 0.63);
    position: absolute;
    margin-left: 1%;
    bottom: 0;
    padding: 10px;
    width: 125px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
}

.breadcrumbs-event a{
    font-family: 'Asar';
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.event-nav {
    margin-top: 20px;
    width: 58%;
    margin: auto;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(89.9deg, rgb(255,243,110,1), rgb(30,204,214,1), rgb(5,54,154,1)) 1;
}

.events {
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Small screen*/
@media screen and (max-width:799px) {
    .banner-events{
        z-index: -1;
    }

    .event-nav{
        width: 100%;
    }

    .events{
        width: 100%;
        margin-left: 0;
    }

    .event-card{
        width: 100%;
        
        height: 300px;
    }

    .date{
        margin-left:0;
    }

    .event-img img{
        display: none;
    }
    .event-desc p{
        width: 100%;
        display: inline;
        font-size: 1rem;
    }
    .btn-event{
        margin-top: 6%;
    }
}

/*Large screen*/
@media screen and (min-width:799px) {
    .event-card{
        width: 70%;
        margin-left: 17%;
        height: 30vh;
    }
    .event-desc p{
        font-size:0.9rem;
    }
}
.events li{
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 20px;
    list-style: none;
    font-family: 'Comfortaa';
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition-duration: 0.4s;
}


.events input[type=text]{
    margin-top: -500px;
    width: 154px;
    padding: 2%;
    border-radius: 5px;
}


.events ::placeholder{
    font-family: 'comfortaa';
    
}

.search-btn{
    background: none;
    border: none;
    width: 30px;
    cursor: pointer;
}

.search-btn:hover{
    color: #0A30CA;
}

#all:hover{
    color: #0A30CA;
}

#events:hover{
    color: #0A30CA;
}

#news:hover{
    color: #0A30CA;
}

.event-cards{
    margin-top: 2%;
}


.event-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 70%; */
    /* height: 200px; */
    margin-top: 3%;
    /* margin-left: 15%; */
    border-radius: 5px;
    box-shadow: 3px 5px 15px -1px rgba(0,0,0,0.1);

}

.date{
    text-align: center;
    margin-left: 3%;
}

.day{
    font-family: "Comfortaa";
    font-size: 2rem;
    color: #717896;
    font-weight: bold;
    padding: 2%;
}

.month-year{
    font-family: "Comfortaa";
    font-size: 1.3rem;
    font-weight: bold;
    color: #717896;
}

.event-desc{
    margin-left: 10%;
}

.event-desc h1{
    /* padding: 20px 5px; */
    font-family: 'Comfortaa';
    font-size: 1.563rem;
    color: #17286D;
    padding-bottom: 15px;
}

.event-desc p{
    font-family: "Asar";
}

.event-img img{
    width: 226px;
    padding-top: 1%;
    margin-left: 16%;
    height: 22.5vh;
    
}

.btn-event{
    width: 100px;
    padding: 2px;
    font-family: "Asar";
    font-size: 0.9rem;
    border-radius: 5px;
    border: 2px solid #17286D;
    background-color: #17286D;
    color: #FFDE00;
    font: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-event:hover{
    background-color: #FFDE00;
    border: 2px solid #FFDE00;
    color: #17286D;
}

.event-card a{
    padding-left: 1%;
    cursor: pointer;
    color: #1591a2;
}

.event-card a:hover{
    color: #0A30CA;
}

#more {
    display: none;
}

.pagination {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.pagination a{
   width: 2%;
   text-decoration: none;
   font-family: "comfortaa";
   color: #17286D;
   padding: 5px 12px;
   transition-duration: 0.4s;
}

.pagination a:hover{
    background-color: #21BFD5;
    color:#17286D;
}

a.pagi-active{
    background-color: #17286D;
    color: #FFDE00;
    
}

/*About Us Style*/

.banner{
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(23, 40, 109, 0.3) 0%), url('images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
} 

.banner h1{
    font-family: 'Comfortaa';
    font-size: 2.4rem;
    color:#fff;
    text-align: center;
    padding-top: 160px;
}

.breadcrumbs-about{
    background-color:rgba(23, 40, 109, 0.63);
    position: absolute;
    margin-left: 1%;
    bottom: 0;
    padding: 10px;
    width: 105px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
}

.breadcrumbs-about a{
    font-family: 'Asar';
    color: white;
    text-decoration: none;
    width: 50%;
}

.about-content{
    margin-top: 2%;
}

section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.about-desc{
    margin-left:12%;
    width:  27%;    
}

.about-desc h1{
    font-family: "Comfortaa";
    font-size: 1.9rem;
    font-weight: bold;
    color: #17286D;
    padding-bottom: 5%;
}

.about-desc p{
    font-family: "Asar";
    font-size: 0.9rem;
}

.about-desc ul{
    line-height: 1.7;
    padding-left: 3%;
    font-family: 'Asar';
    font-size: 0.9rem;
}

.vertical-line{
    border-left: 6px solid #21BFD5;
    height: 125px;
}

.about-img{
   width:30%;
    margin-right: 2%;
    margin-top: 5%;
    position:relative;
}

.background{
    position: absolute;
    background-color: #21BFD5;
    opacity: 0.9;
    top: 4.5%;
    right:42%;
    width: 277px;
    height: 255px;
    z-index: -1;
}

.about-img img{
    width: 277px;
    height: 255px;
}

section:nth-child(2){
    padding-top: 3%;
    padding-bottom: 3%;
}

section:nth-child(2) .about-img{
    margin-left: 12%;
    width: 30%;
    top: -20px;
    position: relative;
}

section:nth-child(2) .background2{
    position: absolute;
    background-color: #FFDE00;
    opacity: 0.9;
    top: 4.5%;
    right:32%;
    width: 277px;
    height: 255px;
    z-index: -1;
}

section:nth-child(2) .vertical-line{
    border-left: 6px solid #FFDE00;
}

section:nth-child(2) .about-desc{
    width: 45%;
}

section:nth-child(3){
    padding-bottom: 3%;
}

section:nth-child(3) .vertical-line{
    border-left: 6px solid #17286D;
}

section:nth-child(3) .background3{
    position: absolute;
    background-color: #17286D;
    opacity: 0.9;
    top: 4.5%;
    right:42%;
    width: 277px;
    height: 255px;
    z-index: -1;
}

@media screen and (max-width:799px) {
    .banner{
        z-index: -1;
    }
    
    .vertical-line{
        display: none;
    }

    .about-img{
        display: none;
    }

    .about-desc{
        width: 95%;
        text-align: center;
        margin:auto;
        padding-top:50px ;
        padding-bottom: 50px;
        position: relative;
    }
    
    section:nth-child(2) .about-desc{
        width: 95%;
        margin: auto;
    }

    section:nth-child(2) .about-desc ul{
        width: 95%;
        text-align: justify;
        margin-left: 18%;
    }

    .about-underline1 {
        background-image: linear-gradient(180deg, transparent 65%, #21BFD5 0);
        padding: 0 0.5em 0 0.1em;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
    .about-underline2 {
        background-image: linear-gradient(180deg, transparent 65%, #FFDE00 0);
        padding: 0 0.5em 0 0.1em;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
    .about-underline3 {
        background-image: linear-gradient(180deg, transparent 65%, #345af1 0);
        padding: 0 0.5em 0 0.1em;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }


}

/*Contact page styles*/
.breadcrumbs-contact{
    background-color:rgba(23, 40, 109, 0.63);
    position: absolute;
    margin-left: 1%;
    bottom: 0;
    padding: 10px;
    width: 115px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
}

.breadcrumbs-contact a{
    font-family: 'Asar';
    color: white;
    text-decoration: none;
    width: 50%;
}

.contact-content{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
}

.contact-content .contact-form{
   width: 700px;
    padding-left: 18%;
}

.contact-content .contact-form h1{
    font-family: "Comfortaa";
    font-size: 1.9rem;
    color: #17286D;
    padding-bottom: 6%;
}

.contact-content .contact-form p{
    font-family: "Asar";
    font-size: 0.9rem;
    display: inline;
}

.contact-content .contact-form input[type=email]{
    font-family: "Asar";
    margin-top: 5%;
    padding: 4px;
    width: 305px;
    border-radius: 5px;
    border: 2px solid #17286D;
}

.contact-content .contact-form input[type=text]{
    font-family: "Asar";
    margin-top: 3%;
    padding: 4px;
    width: 305px;
    border-radius: 5px; 
    border: 2px solid #17286D;  
}

.contact-content .contact-form textarea{
    font-family: "Asar";
    margin-top: 3%;
    width: 305px;
    border-radius: 5px; 
    border: 2px solid #17286D;
}

.contact-content .contact-form .contact-btn{
    margin-top: 4%;
    background-color: #FFDE00;
    border: 2px solid #FFDE00;
    border-radius: 5px;
    padding-top: 3px;
    font-family: "Asar";
    font-size: 0.9rem;
    width: 84px;
    height: 34px;
    display: inline-flex;
    transition-duration: 0.4s;
}

.contact-content .contact-form .contact-btn:hover{
    background-color: #21BFD5;
    border: 2px solid #21BFD5;
}

.contact-content .contact-details{
    margin-right: 0;
    height: 62vh;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
    box-shadow: 8px 12px 25px 3px rgba(0,0,0,0.1);
}

.contact-content .contact-details h2{
    font-family: "Comfortaa";
    color: #17286D;
    font-weight: 600;
    padding: 5px 0 20px 0;
}

.contact-content .contact-details .details{
    display: inline-flex;
}

.contact-content .contact-details p, address{
   font-family: "Asar";
   font-size: 0.9rem;
   letter-spacing: 0.8px;
   line-height: 1.2;
   padding-bottom: 2.3rem;
}

.contact-content .contact-details .open p{
    line-height: 1.5;
}

.details-icon {
    position: relative;
    width: 35px;
    
}

@media screen and (max-width:799px) {

    .contact-content{
        flex-direction: column;
        height: 1200px;
    }

    .contact-content .contact-form{
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }

    .contact-content .contact-form h1{
        text-align: center;
    }

    .contact-content .contact-form p{
        display: inline;
    }

    .contact-content .contact-form .contact-btn{
        float: right;
        margin-right: 92px;
    }

    .contact-content .contact-details{
        width: 300px;
        margin-left: 19%;
    }

}
